.section1{
    background-image: url("assets/16.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    height:100%;
    width:100%;
    /* position:fixed; */
}

img{
    margin-left: 40px;
    margin-top: 10px;
}
/*.button1{
    float:right;
    margin-top:50px;
    margin-right: 40px;
}*/
.sec1{
    text-align: left;
    color:white;
    margin-left:40px;
    margin-top: 200px
}
h2{
font-size: 40px;
}
.sec2{
    font-size:20px;
    position:relative
}
.button1{
    background-color: greenyellow;
    color:white;
    text-align:center;
    font-size: 15px;
    border-radius:5px;
    border:0;
    margin-left: 40px;
    /*position: fixed;*/
}
h1{
    color:yellowgreen
}
.section2.p{
    font-size: 20px;
}