*{
}
.section1{
    background-image: url("assets/16.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0;
    height:100%;
    width:100%;
    /* position:fixed; */
}

.img1{
    margin-left: 90px;
    margin-top: 10px;
}
/*.button1{
    float:right;
    margin-top:50px;
    margin-right: 40px;
}*/
.sec1{
    text-align: left;
    color:white;
    margin-left:90px;
    margin-top: 200px;
    width:40%;
    

}
h2{
font-size: 50px;
}
.sec2{
    font-size:30px;
    position:relative
}
.button1{
    background-color: greenyellow;
    color:white;
    text-align:center;
    font-size: 15px;
    border-radius:5px;
    border:0;
    margin-left: 70px;
    /*position: fixed;*/
}
h1{
    color:yellowgreen;
    font-size: 60px;
    text-align: center;
}
.section2{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: bold;
    line-height: 1.4;

}
.para1{
    font-size: 25px;
    text-align: center;
}
.para2{
    font-size: 25px;
    text-align: center;
}
.para3{
    font-size: 25px;
    text-align: center;
}
.section3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img2{
    margin-left: 90px;
}
.head-1{
    text-align: left;
    font-size: 50px;
}
.para4{
    text-align: left;
    font-size:25px;
    padding: 10px;
}
.flexbox-5{
    width:35%;
    margin-right: 90px;

}
.section4{
    background-color: yellowgreen ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.head-2{
    text-align: center;
    font-size: 50px;
    color:white;
}
.img34{
    display: flex;
    justify-content: center;
}
.section5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.img5{
    margin-left: 90px;
}
.head-3{
    text-align: left;
    font-size: 50px;
    color:black;
}
.para5{
    text-align: left;
    font-size:25px;
    padding: 10px;
}
.flexbox-7{
    width:35%;
    margin-right: 90px;
}
.section6{
    display:flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.head-4{
    font-size: 50px;
    max-width: 60%;
    margin-left: 20%;
}
.para6{
    font-size: 25px;
}


